body {
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
}
.box {
  width: 200px;
  height: 200px;
  background-color: blue;
  transform: translateX(500px);

  transition: transform 0.4s ease;
  margin-top: 50px;
}
.boxLeft {
  transform: translateX(-500px);
}
.boxRight {
  transform: translateX(1500px);
}

.container {
  width: 100px;
  height: 200px;
  background-color: red;
  transform: translateY(-10px);
}
